#          Capstone Project Two - Hotel Booking Demand

#####  Data Wrangling

Following are steps performed in data wrangling : 
 
1.) Data Collection

    a. Locating the data
    b. Data loading
    c. Data joining

2.) Data Organization

    a. File structure
    b. Github

3.) Data Definition

    a. Column names
    b. Data types (numeric, categorical, timestamp, etc.)
    c. Description of the columns
    d. Count or percent per unique values or codes (including NA)
    e. The range of values or codes 

4.) Data Cleaning

    a. NA or missing data
    b. Duplicates

### 1.)  Data Collection

In [1]:
#load python packages
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
# Current Working Directory 
os.getcwd()

'C:\\Users\\PGaur\\Desktop\\SpringBoard\\DSM\\6_Applying_DataScience\\2_Data_Wrangling\\1588204754_Step_2\\Step 2'

In [6]:
# Changeing working directory where our dataset file hotel_bookings.csv is present 

path="C:\\Users\\PGaur\\Desktop\\SpringBoard\\DSM\\7_Data_Wrangling\\6_Capstone_Data_Wrangling"
os.chdir(path)

In [8]:
# Printing files in current directory to make sure the 'hotel_bookings.csv' is present. 

os.listdir(path)

['511638_944030_bundle_archive',
 '511638_944030_bundle_archive.zip',
 'Captone_Hotel_booking_demand-checkpoint.ipynb',
 'Captone_Hotel_booking_demand.ipynb',
 'hotel_bookings.csv']

In [9]:
# Loading the data into a pandas dataframe.
#  Source of the dataset is 
#  https://www.kaggle.com/jessemostipak/hotel-booking-demand?select=hotel_bookings.csv

hbook1 = pd.read_csv('C:\\Users\\PGaur\\Desktop\\SpringBoard\\DSM\\7_Data_Wrangling\\6_Capstone_Data_Wrangling\\hotel_bookings.csv')

In [11]:
# Printing the first five rows of the dataframe.

hbook1.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03




###  2.) Data Organization

######  Creating subfolders in your project directory

In [12]:
os.makedirs('data')
os.makedirs('figures')
os.makedirs('models')

In [13]:
# Printing the contents of current working directory to confirm the created 
# the additional folders in directory.

os.listdir(path)

['511638_944030_bundle_archive',
 '511638_944030_bundle_archive.zip',
 'Captone_Hotel_booking_demand-checkpoint.ipynb',
 'Captone_Hotel_booking_demand.ipynb',
 'data',
 'figures',
 'hotel_bookings.csv',
 'models']

### 3.) Data Definition

In [14]:
# Printing the columns names of the entire dataframe

hbook1.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

###### Data Types - Reviewing which columns are integer, float, categorical, or dates.

In [15]:
hbook1.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

##### Printing the count of non-null values per column. Using info() function to review the column names, null value counts and data types of our data frame.

In [16]:
hbook1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

##### The Variables description can be found here  - https://www.sciencedirect.com/science/article/pii/S2352340918315191#t0005

###### There are some null or missing values. We'll need to mitgate it in a later step. However, let's look at the counts of unique values or codes per column first.

In [17]:
# Printing the count of unique values for every column, regardless of data type.

hbook1.apply(lambda x: len(x.unique()))

hotel                                2
is_canceled                          2
lead_time                          479
arrival_date_year                    3
arrival_date_month                  12
arrival_date_week_number            53
arrival_date_day_of_month           31
stays_in_weekend_nights             17
stays_in_week_nights                35
adults                              14
children                             6
babies                               5
meal                                 5
country                            178
market_segment                       8
distribution_channel                 5
is_repeated_guest                    2
previous_cancellations              15
previous_bookings_not_canceled      73
reserved_room_type                  10
assigned_room_type                  12
booking_changes                     21
deposit_type                         3
agent                              334
company                            353
days_in_waiting_list               128
customer_type                        4
adr                               8879
required_car_parking_spaces          5
total_of_special_requests            6
reservation_status                   3
reservation_status_date            926
dtype: int64

##### When working with categorical columns, it's really helpful to know what the unique codes are. Using the value_counts() function for the same :

There are 14 categorical varibles in this dataset. Checking few of them which makes sense to us.

In [24]:
hbook1['arrival_date_month'].value_counts()

August       13877
July         12661
May          11791
October      11160
April        11089
June         10939
September    10508
March         9794
February      8068
November      6794
December      6780
January       5929
Name: arrival_date_month, dtype: int64

In [26]:
hbook1['assigned_room_type'].value_counts()

A    74053
D    25322
E     7806
F     3751
G     2553
C     2375
B     2163
H      712
I      363
K      279
P       12
L        1
Name: assigned_room_type, dtype: int64

In [29]:
hbook1['customer_type'].value_counts()

Transient          89613
Transient-Party    25124
Contract            4076
Group                577
Name: customer_type, dtype: int64

In [31]:
hbook1['deposit_type'].value_counts()

No Deposit    104641
Non Refund     14587
Refundable       162
Name: deposit_type, dtype: int64

In [32]:
hbook1['distribution_channel'].value_counts()

TA/TO        97870
Direct       14645
Corporate     6677
GDS            193
Undefined        5
Name: distribution_channel, dtype: int64

In [34]:
hbook1['is_repeated_guest'].value_counts()

0    115580
1      3810
Name: is_repeated_guest, dtype: int64

In [36]:
hbook1['market_segment'].value_counts()

Online TA        56477
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: market_segment, dtype: int64

In [37]:
hbook1['meal'].value_counts()

BB           92310
HB           14463
SC           10650
Undefined     1169
FB             798
Name: meal, dtype: int64

In [38]:
hbook1['reservation_status'].value_counts()

Check-Out    75166
Canceled     43017
No-Show       1207
Name: reservation_status, dtype: int64

In [39]:
hbook1['reserved_room_type'].value_counts()

A    85994
D    19201
E     6535
F     2897
G     2094
B     1118
C      932
H      601
P       12
L        6
Name: reserved_room_type, dtype: int64

##### Checking Range of values per column

In [40]:
# Printing the range of values using the aggregate function
hbook1.agg([min, max]).T

                                       min              max
hotel                           City Hotel     Resort Hotel
is_canceled                              0                1
lead_time                                0              737
arrival_date_year                     2015             2017
arrival_date_month                   April        September
arrival_date_week_number                 1               53
arrival_date_day_of_month                1               31
stays_in_weekend_nights                  0               19
stays_in_week_nights                     0               50
adults                                   0               55
children                                 0               10
babies                                   0               10
meal                                    BB        Undefined
market_segment                    Aviation        Undefined
distribution_channel             Corporate        Undefined
is_repeated_guest                        0                1
previous_cancellations                   0               26
previous_bookings_not_canceled           0               72
reserved_room_type                       A                P
assigned_room_type                       A                P
booking_changes                          0               21
deposit_type                    No Deposit       Refundable
agent                                    1              535
company                                  6              543
days_in_waiting_list                     0              391
customer_type                     Contract  Transient-Party
adr                                  -6.38             5400
required_car_parking_spaces              0                8
total_of_special_requests                0                5
reservation_status                Canceled          No-Show
reservation_status_date         2014-10-17       2017-09-14

The range of values per column is not making much sense in the case of this dataset.





##### Reviewing the numeric dataset's summary statistics.

In [41]:
# Checking the statistics of numerical columns in this dataset using describe() function

hbook1.describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,119390.0,0.370416,0.482918,0.00,0.00,0.000,1.0,1.0
lead_time,119390.0,104.011416,106.863097,0.00,18.00,69.000,160.0,737.0
arrival_date_year,119390.0,2016.156554,0.707476,2015.00,2016.00,2016.000,2017.0,2017.0
arrival_date_week_number,119390.0,27.165173,13.605138,1.00,16.00,28.000,38.0,53.0
arrival_date_day_of_month,119390.0,15.798241,8.780829,1.00,8.00,16.000,23.0,31.0
stays_in_weekend_nights,119390.0,0.927599,0.998613,0.00,0.00,1.000,2.0,19.0
stays_in_week_nights,119390.0,2.500302,1.908286,0.00,1.00,2.000,3.0,50.0
adults,119390.0,1.856403,0.579261,0.00,2.00,2.000,2.0,55.0
children,119386.0,0.103890,0.398561,0.00,0.00,0.000,0.0,10.0
babies,119390.0,0.007949,0.097436,0.00,0.00,0.000,0.0,10.0
is_repeated_guest,119390.0,0.031912,0.175767,0.00,0.00,0.000,0.0,1.0
previous_cancellations,119390.0,0.087118,0.844336,0.00,0.00,0.000,0.0,26.0
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.0,72.0
booking_changes,119390.0,0.221124,0.652306,0.00,0.00,0.000,0.0,21.0
agent,103050.0,86.693382,110.774548,1.00,9.00,14.000,229.0,535.0
company,6797.0,189.266735,131.655015,6.00,62.00,179.000,270.0,543.0
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.0,391.0
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.0,5400.0
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.0,8.0
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.0,5.0

### 4.) Data Cleaning

Handling Missing Data and NA values

In [42]:
# Printing out the percent of each feature/column that is missing in the dataset : 

nas=pd.DataFrame(hbook1.isnull().sum().sort_values(ascending=False)/len(hbook1),columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]

           percent
company   0.943069
agent     0.136862
country   0.004087
children  0.000034

As you can see from the above result that out of 32 columns , there are 4 columns in which there are missing values. We will treat this dataset in further step for missing /na values and may even drop few columns as per the requirement of our analysis.